<p>Welcome to {{hotelname}}</p>
<div [hidden]="hideRooms">
    <p [ngStyle]="{'color': rooms.availableRooms ? 'steelblue': 'red'}">
        Hotel Room Capacity: <span [innerText]="numberofRooms"></span> Rooms
    </p>
</div>
<div >
    <button (click)="toggle()">Toggle</button>
</div>

<p>Available Rooms: {{ rooms?.availableRooms ?? 'No Vacant Rooms'}} </p>

<div *ngIf="selectedRoom!">
    {{ selectedRoom | json}}
</div>l
<div *ngIf="rooms.availableRooms > 0">
   <app-rooms-list [rooms] ="roomsList" (selectedRoom)="selectRoom($event)"></app-rooms-list>
</div>

